In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('laptops.csv')

In [4]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [5]:
total_records = df.shape[0]
print(f"Total number of rows is {total_records}")

Total number of rows is 2160

In [6]:
num_brands = df['Brand'].nunique()
print(f"The number of brands are {num_brands}")

The number of brands are 27

In [7]:
missing_values = df.isnull().sum()
print(f"The total number of missing values are {missing_values}")

The total number of missing values are Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [8]:
# Get the count of missing values for each column
missing_values = df.isnull().sum()

# Filter columns that have missing values
columns_with_missing = missing_values[missing_values > 0]

# Get the number of columns with missing values
num_columns_with_missing = len(columns_with_missing)
print(f"Number of columns with missing values: {num_columns_with_missing}")

Number of columns with missing values: 3

In [19]:
#Dell_brand = df[(df['Model'] == 'Notebook')]
dell_brand = df[(df['Brand'] == 'Dell') & (df['Model'] == 'Notebook')]
dell_brand

Empty DataFrame
Columns: [Laptop, Status, Brand, Model, CPU, RAM, Storage, Storage type, GPU, Screen, Touch, Final Price]
Index: []

In [10]:
# Filter the DataFrame for Dell notebooks
dell_notebooks = df[(df['Brand'] == 'Dell')]

# Get the maximum final price of Dell notebooks
max_price = dell_notebooks['Final Price'].max()

print(f"Maximum final price of Dell notebooks: {max_price}")

Maximum final price of Dell notebooks: 3936.0

In [11]:
# Calculate the median value of the 'Screen' column (before filling missing values)
initial_median_screen = df['Screen'].median()
print(f"Initial median value of the Screen column: {initial_median_screen}")

Initial median value of the Screen column: 15.6

In [12]:
# Find the most frequent value (mode) in the 'Screen' column
most_frequent_screen = df['Screen'].mode()[0]
print(f"Most frequent value in the Screen column: {most_frequent_screen}")

Most frequent value in the Screen column: 15.6

In [13]:
# Fill missing values in the 'Screen' column with the most frequent value, and assign back to the 'Screen' column
df['Screen'] = df['Screen'].fillna(most_frequent_screen)

In [14]:
# Fill missing values in the entire DataFrame, specifying only the 'Screen' column
df.fillna({'Screen': most_frequent_screen}, inplace=True)

In [15]:
# Recalculate the median value of the 'Screen' column (after filling missing values)
final_median_screen = df['Screen'].median()
print(f"Median value of the Screen column after filling missing values: {final_median_screen}")

Median value of the Screen column after filling missing values: 15.6

In [17]:
import pandas as pd
import numpy as np



# Select "Innjoo" laptops and relevant columns
innjoo_laptops = df[df['Brand'] == 'Innjoo'][['RAM', 'Storage', 'Screen']]
X = innjoo_laptops.to_numpy()

# Compute XTX
XTX = X.T @ X

# Step 3: Compute the inverse of XTX
XTX_inv = np.linalg.inv(XTX)

# Create the y array
y = np.array([1100, 1300, 800, 900, 1000, 1100])

# Compute the result w
X_T = X.T
w = XTX_inv @ X_T @ y

# Calculate the sum of all elements in w
sum_w = np.sum(w)
print(f"Sum of all elements in the result: {sum_w}")

Sum of all elements in the result: 91.29988062995815